{% extends "base.html" %}

{% block title %}Контест{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1> {{ subject }} </h1>
    </div>

    {% for module, tasks in content.items() %}
    <div class="container mt-4">
        <h3>{{ module }}</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Название задачи</th>
                <th>Твой балл</th>
                <th>Макс балл</th>
                <th>Вердикт</th>
            </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td onclick="location.href='/task/{{ task.link }}';">{{ task.name }}</td>
                        <td>{{ task.degree }}</td>
                        <td>{{ task.max }}</td>
                        <td>

                            {% if task.verdict == "accepted" %}
                                <span class="badge badge-success">OK</span>
                            {% endif %}

                            {% if task.verdict == "banned" %}
                                <span class="badge badge-danger">BAN</span>
                            {% endif %}

                            {% if task.verdict == "failed" %}
                                <span class="badge badge-danger">FAIL</span>
                            {% endif %}

                            {% if task.verdict == "passed" %}
                                <span class="badge badge-info">Принято</span>
                            {% endif %}

                            {% if task.verdict == "waiting" %}
                                <span class="badge badge-warning">Тестируется</span>
                            {% endif %}

                            {% if task.verdict == "nonsolved" %}
                                <span class="badge badge-light">Не решалось</span>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
{% endblock %}