{% extends "base.html" %}

{% block head %}
    {{ super() }}

    <style>
        body {
            padding-bottom: 50px;
        }
    </style>
{% endblock %}

{% block title %}Настройки{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Предметы</h1>
        <div id="task-list" class="mt-4">
            {% for elem in subjects %}
                <div class="card task-card mt-5" onclick="location.href='/course/{{ elem.link }}';">
                    <div class="card-body">
                        <h5 class="card-title">{{ elem.text }}</h5>
                        <p class="card-text">Баллы</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

