{% extends "base.html" %}

{% block title %}Контест{% endblock %}

{% block head %}
    {{ super() }}

    <script type="text/javascript"
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    <script type="text/javascript" src="../static/js/task.js"> </script>

{% endblock %}

{% block content %}
    <div class="container mt-5 bg-light">
        {{ statement }}
    </div>

    <div class="form-group container mt-5">
            {% if notsolved %}
            <div class="mt-4">
                <div class="dropdown mt-4" style="margin-bottom: 2rem;">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select an language
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for lang in languages %}
                        <li>
                            <a class="dropdown-item" onclick="selectItem(`{{ lang }}`)">{{ lang }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="alert alert-danger mt-3 d-none" id="languageAlert" role="alert">
                    Выбери язык
                </div>

                <textarea class="form-control" id="Code" rows="8" placeholder="Enter code" style="margin-bottom: 1rem;"></textarea>

                <div class="alert alert-danger mt-3 d-none" id="codeAlert" role="alert">
                    Напиши код
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-2" onclick="sendRequest()">Submit</button>

            {% endif %}

            <div class="container mt-4">
                <h1>Посылки</h1>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Время отправки</th>
                      <th>Язык программирования</th>
                      <th>Вердикт</th>
                      <th>Отчет</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for submission in submissions %}
                    <tr>
                      <td>{{ submission.date }}</td>
                      <td>{{ submission.lang }}</td>
                      <td>
                            {% if submission.verdict == "accepted" %}
                                <span class="badge badge-success">OK</span>
                            {% endif %}

                            {% if submission.verdict == "banned" %}
                                <span class="badge badge-danger">BAN</span>
                            {% endif %}

                            {% if submission.verdict == "failed" %}
                                <span class="badge badge-danger">FAIL</span>
                            {% endif %}

                            {% if submission.verdict == "passed" %}
                                <span class="badge badge-info">Принято</span>
                            {% endif %}

                            {% if submission.verdict == "waiting" %}
                                <span class="badge badge-warning">Тестируется</span>
                            {% endif %}
                      </td>

                      <td><a href="#" onclick="location.href='{{ request.url }}' + '/submission/{{ submission.id }}';">Тык</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
    </div>

{% endblock %}